.cache
.idea
.js.map
.log
.Trashes
.DS_Store
.vscode

node_modules
lib
static
gitignore-analyze.html
plugins/ItemRemainder
plugins/tesa
plugins/plugShow
plugins/testPlugin
plugins/tesb
plugins/youngerPlug
plugins/ProfitlossAnalysis/dist
plugins/ProfitlossAnalysis/node_modules
